
@{
    Layout = null;
}
@model FengTe.GamePlay.Entity.R_Game_User_Play
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>大神申请</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/Content/Css/Reset.css" rel="stylesheet" />
    <link href="~/Content/Css/Personal_index.css" rel="stylesheet" />
    <link href="~/Content/Css/Personal_ManitoApply.css" rel="stylesheet" />
    <link href="~/Content/Img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
</head>
<body>
    <div class="manito_apply">
        <p class="personal_title">大神申请</p>
        <p class="manito_apply_title">选择大神类型</p>
        <div class="manito_apply_type">
            <div class="manito_apply_type_upper fl">
                <a class="authentication_btn active" href="/UserManage/User/ManitoTop">
                    <span>大神-上分</span>
                </a>
                <div class="authentication_cont">
                    @if (Model.State == 0)
                    {
                        <span>初审资料提交</span>
                        <span class="small_txt" value="">@Model.InTime.ToString("yyyy-MM-dd HH:mm")</span>
                    }
                    else if (Model.State == 1)
                    {                        
                        <span>通过初审，进入实力复审</span>
                        <span>@Model.InTime.ToString("yyyy-MM-dd HH:mm")</span>
                    }
                    else if (Model.State == 2)
                    {
                        
                        <span>未通过初审</span>
                        <span>@Model.InTime.ToString("yyyy-MM-dd HH:mm")</span>
                    }
                    else if (Model.State == 3)
                    {                        
                        <span>复审未通过</span>
                        <span>@Model.InTime.ToString("yyyy-MM-dd HH:mm")</span>
                    }
                    else if (Model.State == 4)
                    {
                        <
                        <span>通过复审，大神认证成功</span>
                        <span>@Model.InTime.ToString("yyyy-MM-dd HH:mm")</span>
                    }
                    else
                    {
                        <span>未认证</span>
                    }


                </div>
            </div>
            <div class="manito_apply_type_recreation fl">
                <a class="authentication_btn" href="/UserManage/User/ManitoRecreation">
                    <span>娱乐-陪玩</span>
                </a>
                <div class="authentication_cont">
                    <span>未认证</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Content/Js/Personal_ManitoTop.js"></script>